body {
    background-color: #a7a6a6;; /* צבע רקע נעים יותר */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo {
    max-width: 500px;
    margin-bottom: 2em;
}

button {
    width: 14em;
    height: 4em;
    border: none;
    background-color: #ff0000de;; /* כחול כהה במקום אדום */
    color: white;
    border-radius: 40px;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: 0.3s;
}

button:hover {
    background-color: #b30000a5; /* כהה יותר על ריחוף */
    box-shadow: 3px 3px 5px black;
}
