.botomNav {
    position: sticky;
    bottom: 5px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    border-radius: 0;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    height: 60px;
    width: 99%;
}

.botomNav button {
  background: none;
  border: none;
  text-align: center;
  color: white;
  cursor: pointer;
  flex: 1 1 20%;
  min-width: 60px;
}

.botomNavSVG {
  width: 1.5em;
  height: auto;
  filter: invert(1);
  display: block;
  margin: 0 auto;
}

.botomNav a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 768px) {
 
    .botomNav button {
        flex: 1 1 30%; 
    }
}
