.botomNav {    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    border-radius: 0;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    height: 60px;
}

.botomNav button {
    background: none;
    border: none;
    text-align: center;
    color: white;
    cursor: pointer;
}

.botomNavSVG {
    width: 1.5em;
    height: auto;
    filter: invert(1);
    display: block;
    margin: 0 auto;
}

.botomNav a {
    text-decoration: none;
    color: inherit;
}

.ptt {
    background: none;
    border: none;
    cursor: pointer;
}

.ptt:focus .ptt-icon,
.ptt:active .ptt-icon {
    filter: brightness(0) saturate(100%) invert(21%) sepia(97%) saturate(7461%) hue-rotate(1deg) brightness(100%) contrast(120%);

}


/* לוודא שהסגנון הבסיסי נשאר */
.ptt-icon {
    width: 2em;
    height: 2em;
    fill: currentColor; /* תומך בשינוי צבע */
    transition: fill 0.3s ease; /* עבור אנימציה */
}
