* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    grid-template-rows: repeat(25 1fr);
    height: 200vh;
    margin-bottom: 40px;
  }
  /* header */
  .top {
    grid-column: 1/-1;
    grid-row: 1;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top h1 {
    font-size: 1.5em;
  }
  .camera {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    top: 23px;
    left: 60px;
    border: black solid 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
  }
  .logo-camera {
    width: 60px;
    height: 50px;
  }
  /* NAME + ID  */
  .deatails {
    grid-column: 1/-1;
    grid-row: 2/4;
    font-size: 1em;
    background: white;
    border-radius: 8px;
    width: 300px;
    margin: 30px;
  }
  .simple-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .simple-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
  }
  
  .simple-form input:focus {
    border-bottom: 2px solid #007bff;
    background-color: #fff;
    outline: none;
  }
  /* VITAL SIGNS */
  .vital {
    grid-column: 1/-1;
    grid-row: 5/9;
  }
  .vital-signs {
    display: flex;
    flex-direction: column;
  }
  .vital-signs h2 {
    margin-bottom: 20px;
    position: relative;
    left: 35px;
    font-family: Arial, sans-serif;
    font-size: 1.8em;
  }
  .vital-signs label {
    position: relative;
    left: 30px;
    top: 20px;
    font-size: 1.2em;
  }
  .select-vital {
    width: 350px;
    height: 40px;
    font-size: 1em;
    margin: 30px;
    padding: 10px;
  }
  /* SHOCK SIGNS */
  .con-shock {
    grid-column: 1/-1;
    grid-row: 10/12;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .con-shock h2 {
    font-size: 1.8em;
  }
  .shock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border: solid 1px black;
    margin: 15px;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  .shock-item {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(246, 232, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
  }
  
  .shock-item:hover {
    background-color: #ececec;
  }
  
  .shock-item.selected {
    background-color: #80e783;
    color: #2f771f;
    border: 2px solid #214d17;
  }
  /* SELECT BODY  */
  .more {
    grid-column: 1;
    grid-row: 14/17;
    border: solid 1px black;
    width: 100%;
    height: 100px;
  }
  
  /* CHOOSE TREATMENT  */
  .BLS-treatment {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    grid-column: 1;
    grid-row: 17/19;
  }
  
  .BLS-treatment label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    font-size: 1.2em;
  }
  
  #treatment-select,
  #add-treatment-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .selected-treatments {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .treatment-icon {
    display: flex;
    align-items: center;
    background: rgb(246, 232, 234);
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    color: #00796b;
    border: 1px solid #00796b;
  }
  
  .treatment-icon .delete-btn {
    margin-left: 10px;
    background: none;
    border: none;
    color: #d32f2f;
    font-size: 16px;
    cursor: pointer;
  }
  
  .treatment-icon .delete-btn:hover {
    color: #f44336;
  }
  .ALS-treatment {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    grid-column: 1;
    grid-row: 19/21;
  }
  
  .ALS-treatment label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    font-size: 1.2em;
  }
  #treatment-select-ALS,
  #add-treatment-atn {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  .treatment-icon .delete-Atn {
    margin-left: 10px;
    background: none;
    border: none;
    color: #d32f2f;
    font-size: 16px;
    cursor: pointer;
  }
  
  .treatment-icon .delete-Atn:hover {
    color: #f44336;
  }
  
  /* BUTTONS  */
  .submit-section {
    grid-column: 1/-1;
    grid-row: 24;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
  }
  
  #submitButton {
    padding: 15px 30px;
    font-size: 1em;
    background-color: #2e9830;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    bottom: 15px;
  }
  
  #submitButton:hover {
    background-color: #1a7933;
  }
  .clear-btn {
    background-color: #ff4c4c;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    bottom: 15px;
  }
  
  .clear-btn:hover {
    background-color: #cc0000;
  }
  .preview-button {
    background-color: #211c57;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    bottom: 15px;
  }
  .preview-button a {
    text-decoration: none;
    color: #ececec;
  }
  